@{
    ViewData["Title"] = "Home Page";
    ViewData["professional"] = "Fernando Monteiro, developer";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @ViewData["professional"]
    <p>Learn more about my work at<a href="https://github.com/Nando2503"> my github.com page</a>.</p>
</div>